*{
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
    border-radius: border-box;
}
.navbar{
    height: 60px;
    background-color: #131921;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.navbar-logo{
    height: 50px;
    width: 100px;

}
.logo{
 
    background-image: url("Amazon-Logo-StartupTalky.jpg");
    background-size:cover ;
    height: 50px;
    width: 100px;
}
.border{
    border: 2px solid transparent;

}

.border:hover{
    border: 2px solid white;
}
.nav-address{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
    
}

