#mainDiv{
    border: 1px solid black;
    width: 700px;
    height:700px;
    background-color: aquamarine;
    display:flex;
    
}

.subDiv{
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    background-color: saddlebrown;
  
}