h1 {
  color: red;
}
h1:hover {
  color: blue;
}

.rah {
  color: green;
}
#rah {
  background-color: yellow;
}
p:hover {
  color: blue;
}
.hero-section {
  color: purple;
}

body {
  width: 100%;
  height: 100vh;

  background-color: hsl(0, 0%, 94%);
  background-image:  url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRStqTNMWehhRt-35YQKIrIjIFa9tUTcYzKdQ&s"),url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRprhumyrQhbdEJqr8B82w8lBclI3wmu09GA&s");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
