body {
  background-color: hsl(0, 0%, 94%);
}

/* for pixels */

/* 
h1{
    font-size: 54px;
    color: purple;
}

p{
    font-size: 36px;
}

li{
    font-size: 44px;
}  */

/* for em */
/* 1 em=16px  so 54/ 16=3.375em*/
/* 
h1{
    font-size: 3.375em;
    
}
p{
    font-size: 2.25em;
}
li{
    font-size: 2.75em;
}  */

/* for rem */
/* for 1 rem=10px so 54/10=5.4rem */

/* 
font Properities in css

html {
  font-size: 62.5%;
}

h1 {

  font-size: 5.4rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  font-weight: 900;
  font-style: italic;
}

p {
  font-size: 3.6rem; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:900;
  font-style: italic;
   font-variant:small-caps ;
  
}
li {
  font-size: 4.4rem;
} */


/* Text properities in css */

h1 {

  font-size: 3.8rem; 
   font-weight:900;

   /* text properities start here  */
   text-align: center;
   text-decoration-line:underline;

  text-decoration-color: rgb(11, 179, 139);

   text-transform:capitalize;
   text-decoration-thickness:12px;
   text-decoration-style:wavy;
    text-shadow: 10px 10px 4px rgb(0,255,0);

}

  
p {
  font-size: 3.6rem; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:900;
  font-style: italic;
   font-variant:small-caps ;
   letter-spacing: 1.2px;
   word-spacing: 1px;
   line-height: 1.2;
   text-shadow: 2px 2px 5px red;
   
  
}
a{
  text-align: center;
  
  text-decoration: none;
  color: red;
}

p::first-letter{

  font-size:98px ;
  font-weight: 800;
}

.section-border{
  width: 1000px;
  color:#fff;

  /* border-here */
  border: 10px solid red;


}

 