body {
  /* background:url(./pexels-rpnickson-2775196.jpg); */
  background: url(./image.png);
  background-size: cover;
}
#mainBox {
  border: 1px solid #000;
  width: 500px;
  height: 500px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 9px;
  /* box-shadow: 2px 2px 2px 0px grey;
  background-color: rgba(255, 255, 255, 0.51); */
}

#formHeading {
  color: blue;
  text-align: center;
}

#loginForm {
  width: fit-content;
  margin: 10px auto;
}

.formFeild {
  margin: 20px;
  label {
    color: blueviolet;
    font-size: large;
  }

  input {
    padding: 10px;
    border-radius: 25px;
    border: 2px solid black;
    outline-color: blueviolet;
  }
}

#formControl {
  text-align: center;
  button {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
  }
}

#cancelButton {
  border: 1px solid #ff0000;
  background-color: #f74c4c;
  color: aliceblue;
}

#loginButton {
  border: 1px solid #007816;
  background-color: #3c7847;
  color: aliceblue;
}
#loginButton:hover {
  background-color: #1f132a;
  color: rgb(12, 115, 206);
}
#cancelButton:hover {
  color: blue;
  background-color: aliceblue;
}
/* #cancelButton:hover{
        
        background-color:blue;
        color: aliceblue;
    } */
/* #cancelButton:active
     {
  background-color: blue;
  color: aliceblue;
} */

/* #loginButton:active {
  background-color: blue;
  color: aliceblue; 
}
     */
