body{
    background: url(./pexels-rpnickson-2775196.jpg);
    background-size: cover;
}
#mainBox{
    border: 5px  solid black;
    width: 500px;
    height: 250px; 
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2 px 0px green;
    background-color: rgba(red, green, blue, alpha);
}

#formHeading{
    color: green;
    text-align: center
    ;

}
#loginform{
    width: fit-content;
    margin: 10px auto;


}
.formfeild{
    margin: 20px;
    label{
        color: #000;
        font-size: large;
    }

    input{
        padding:10px;
        border-radius: 25px;
        border: 3px solid white;

        outline-color: blueviolet;
    }
}